#card {
    width: 100%;
}

#juri {
    width:100%;
}

#home {
    font-weight: bold;
}

#head{
    height:400px;
}

.interest{
    width:100%;

}


.favorites{
    width:100%;
}

.inter_title{
    font-weight: bold;
}

.nav{
    position: fixed;
    top: 0;
    width: 100%;
}