#card {
    width: 400px;
}

#juri {
    width:100%;
}

#home {
    font-weight: bold;
}

#head{
    height:300px;
}

h2{
    font-weight: bold;
}

.interest{
    width:70%;

}


.favorites{
    width:100%;
}

.inter_title{
    font-weight: bold;
}

.nav{
    position: fixed;
    top: 0;
    width: 100%;
}

#works{
    width: 70%;
}

.study{
    width:35px;
    height: 35px;
}

.btn_lap {
    width: 200px;
}

.li_lap{
    list-style-type: none;
}

.bl{
    color: black;
}


#form_div{
    width: 70%;
}

html,body{
	margin:0;
    padding:0;
	width:100%;
    height:100%
}

footer{
    margin-top: auto;
    bottom:0;
    position: relative;
}

section{
    height:auto;
    min-height: 100%;
    position: relative;
}